*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.main-navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
}
.main-navbar li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 7px;
    font-size: 1.7rem;
    vertical-align: middle;
}
.main-navbar a{
    text-decoration: none;
}
#logo-puntos{
    width: 24px;
    height: 24px;
}
#back-azul{
    color: #fff;
    padding: 9px 23px;
    background-color: #1a73e8;
    border-radius: 5px;
}

.main-section_logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main-section_input{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#search-voice{
    opacity:initial;
    padding-right: 15px;
    width: 29px;
    height: auto;
}
.main-input_container{
    display: flex;
    align-items: center;
    width: 580px;
    height: 46px;
    border: .8px solid rgb(185, 185, 185);
    border-radius: 25px;
}
.search-logo img{
    padding-left: 10px;
    opacity: .3;
}
.main-section_input input{
    width: 540px;
    height: 40px;
    border: none;
    padding: 10px;
    outline: none;
}
.main-section_buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.main-buttons-container input{
    padding: 8px;
    margin: 9px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(245, 245, 245);
    opacity: .5;
}
.main-buttons-container input:hover{
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 3px;
}
.center{
    width: 100%;
    height: 279px;
}

footer{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(226, 226, 226);
    opacity: .5;
}
footer section{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
footer ul{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer li{
    display: inline-block;
}
.left a{
    text-decoration: none;
    padding: 15px;
}
.right a{
    text-decoration: none;
    padding: 15px;
}
a:link{
    color: #000;
}
a:visited{
    color: #000;
}
a:hover{
    text-decoration: underline;
}
 
